{% extends "rich_page/base.html" %}
{% load i18n cms_tags thumbnail menu_tags %}

{% block body_class %}tpl-sidebar-right{% endblock %}

{% block richpage_content %}
<div class="row blog-list">
    <div class="medium-17 column">
        <h1>{% render_model request.current_page "title" "title,menu_title" %}</h1>

        
        {% placeholder "key visual" %}
        
        <h3>{% placeholder "description" %}</h3>
        <p>{% placeholder "body" %}</p>
        
        
    </div>
    <aside class="medium-7 column sidebar">
        {% if not request.current_page.parent_id %}
        <ul>
        {% for child in request.current_page.get_children %}
            <li><a href="{{ child.get_absolute_url }}">{{ child.get_title_obj.title }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
    </aside>
</div>
{% endblock richpage_content %}
